@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

::selection {
    background: rgba(0, 195, 255, 0.432);
    //color: rgb(0, 0, 0);
}

:root {
    --orange: #FFBDA2;
    --hover: #ffffff;
}

.hidden {
    opacity: 0;
    transform: translateY(5%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/*::-webkit-scrollbar {
    display: none;
}*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5.48em;
    overflow-x: hidden;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Poppins', arial;
    background-color: #0f0f0f;
    color: lightgray;
    background-image: radial-gradient(rgba(255, 255, 255, 0.24) 1px, transparent 0);
    background-size: 40px 40px;
    background-position-y: -19px;
}

.youtube {
    aspect-ratio: 16/9;
    width: 100%;
}

.grid,
.grid2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 4em 2em;

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 2em;
        transition: 0.5s;
    }

    .portfolioboxtitle {
        text-align: center;
        transform: translateY(-7em);
        font-weight: 1000;
        pointer-events: none;
        opacity: 0;
        transition: .5s;
        color: white;
    }

    .experienceboxtitle {
        text-align: center;
        transform: translateY(-10em);
        font-weight: 1000;
        pointer-events: none;
        opacity: 0;
        transition: .5s;
        color: var(--orange);
    }

    .experienceboxtext {
        text-align: center;
        transform: translateY(-10em);
        font-weight: 500;
        pointer-events: none;
        opacity: 0;
        transition: .5s;
        color: white;
    }

    :hover img {
        transform: scale(103%);
    }


    .portfolioboxes {
        line-height: 1em;
        overflow: hidden;
    }

    :hover {
        box-shadow: 0px 0px 20px 0px var(--hover);
        transition: 0.5s;
    }

    :hover .portfolioboxtitle {
        opacity: 1;
    }

    :hover .experienceboxtext {
        opacity: 1;
    }

    :hover .experienceboxtitle {
        opacity: 1;
    }

    img[data-src] {
        opacity: 0;
    }

}

.grid>div {
    height: 250px;
    background: rgb(66, 66, 66);
    border-radius: 2em;

    :hover {
        filter: brightness(80%);
        transition: 0.5s;
    }
}

.grid2>div {
    height: 250px;
    background: rgb(66, 66, 66);
    border-radius: 2em;

    :hover {
        filter: brightness(20%);
        transition: 0.5s;
    }
}

.transpire {
    display: none;
    position: absolute;
    left: 35vw;
    width: 60vw;
    transform: translateY(-8vw);
}

.centertitledesktop {
    text-align: center;
    transform: translateY(1.5em);
    color: var(--orange);
    opacity: 0;
    font-size: 4vw;
    font-weight: 500;
}

.centertitlemobile {
    text-align: center;
    transform: translateY(1em);
    color: var(--orange);
    font-size: 6vw;
    font-weight: 500;
    opacity: 0.5;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    a {
        color: rgb(255, 255, 255);
    }

    z-index: 9999;
    position: fixed;

    .navwide {
        display: none;
    }
}

.social-header {
    display: none;

    a {
        display: block;
        padding: 0 1em;
    }
}

.nav-bar {
    filter: brightness(80%);
    backdrop-filter: blur(10px);
    overflow: auto;
    width: 100%;
    height: 5.5em;
    display: flex;
    justify-content: left;
    position: fixed;
    z-index: 9999;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: #ffffff;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: calc(100% - 32px);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 16px;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    display: flex;
    justify-content: left;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
        padding: 0 1em;
        margin-right: 1em;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }

}

.hero {
    background-image: url(/images/hero.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .desktophero {
        display: none;
    }

    .herosquare {
        display: none;
    }

    .content {
        color: white;
        display: grid;
        text-align: center;
        font-size: 25px;
        transform: translateY(30vh);

        .meet {
            line-height: 20%;
        }
    }
}

.about {
    background-image: url(/images/backgroundsvgs/heroblob.svg);
    background-size: cover;
    background-position: bottom;

    .aboutsection {
        padding: 4em 2em;
    }

    .abouttitle {
        font-size: 60px;
        margin-left: 1.15em;
        transform: translateY(1.5em);
    }

    .text {
        text-align: center;
        padding: 4em 2em;
    }

    .aboutsquare {
        position: absolute;
        float: left;
        width: 325px;
    }

    .right {
        border-radius: 30px;
        margin-top: 2em;
    }
}

.skills {
    padding: 4em 2em;
    color: #2E2E2E;
    background: rgb(149, 207, 213);
    background-image: url(/images/backgroundsvgs/square2.svg);
    background-position: 48px 45px;
    background-size: 400px;
    background-repeat: no-repeat;

    .skillstitle {
        font-size: 60px;
        line-height: 125%;
    }

    .skills-container {
        font-weight: bold;

        .skillsgauge {
            font-size: 4.5vw;

            svg {
                height: 100%;
                width: 100%
            }
        }
    }

    .hobbies-container {
        padding-top: 5em;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 4.5vw;

        ul {
            columns: 2;
        }

        .hobbiessquare {
            transform: translateY(-2.9em);
            pointer-events: none;
        }
    }

}

.portfolio {

    transform: translateY(60px);

    .portfoliotitle {
        font-size: 60px;
        margin-left: 1.15em;
        transform: translateY(1.2em);

    }

    .fadedportfoliotitle {
        font-size: 60px;
        color: var(--orange);
        opacity: 50%;
        margin-left: 1.3em;
    }

    .portfoliobg {
        position: absolute;
        width: 320px;
    }

    .portfolio-container {
        transform: translateY(-10vw);
        text-align: center;
        padding: 4em 2em;

    }

    .portfoliotypingarea {
        display: none;
        position: absolute;
        transform: translateY(-19vw);
        left: 30vw;
        font-size: 2.5vw;
        opacity: 0.25;
        padding-right: 2em;
    }

    .portfolio1image {
        border-radius: 2em;
        overflow: hidden;
    }

    .portfolio2image {
        border-radius: 2em;
        overflow: hidden;
    }

    .category {
        color: var(--orange);
        line-height: 50%;
        font-size: 4.5vw;
    }

    .portfolioname {
        font-size: 7vw;
        line-height: 120%;
    }

    .subtitle {
        padding-bottom: 1em;
    }
}

.englishlogo {
    display: none;
}

@media only screen and (min-width: 800px) {

    .nav-container .navwide {
        display: initial;
    }

    .about .left {
        text-align: left;
    }

    .portfolio {


        .portfoliotitle {
            font-size: 4vw;
        }

        .fadedportfoliotitle {
            font-size: 4vw;
        }

        .portfoliotypingarea {
            display: initial;
        }

    }

    .youtube {
        aspect-ratio: 16/9;
        width: 40vw;
    }

    .grid,
    .grid2 {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .portfolioboxtitle {
            transform: translateY(-7.5em);
            font-size: 2em;
            font-weight: 600;
        }

        .experienceboxtitle {
            transform: translateY(-10.5em);
            font-size: 2em;
            font-weight: 600;
        }

        .experienceboxtext {
            transform: translateY(-9.5em);
            font-size: 2em;
            font-weight: 500;
        }
    }

    .grid>div {
        height: 350px;
        background: rgb(66, 66, 66);
        border-radius: 2em;
    }

    .grid2>div {
        height: 350px;
        background: rgb(66, 66, 66);
        border-radius: 2em;
    }

    .transpire {
        display: initial;
    }

    .centertitledesktop {
        opacity: 0.5;
    }

    .centertitlemobile {
        display: none;
    }

    .portfolio .portfolio-container {
        padding: 4em 4em;
        text-align: left;
        transform: translateY(-5em);
        align-items: left;
        justify-content: left;
        width: 100%;

        .category {
            font-size: 2vw;
            line-height: 40%;
        }

        .portfolioname {
            font-size: 3vw;
            line-height: 120%;
        }

        .subtitle {
            font-size: 1.3vw;
        }

        .portfolio1image {
            display: grid;
            place-content: center;
            right: -10vw;
            position: relative;
        }

        .portfolio2image {
            display: grid;
            place-content: center;
            right: -10vw;
            position: relative;
        }

        display: grid;
        grid-template-columns: 40% auto;
    }

    .portfolio .portfoliobg {
        width: 22vw;
    }

    .about .aboutsection {
        padding: 4em 4em;
        text-align: left;
        align-items: left;
        justify-content: left;
        margin-bottom: 4em;
        display: grid;
        grid-template-columns: 50% auto;

        .right {
            display: grid;
            place-content: center;
            transform: translateY(-5em);
            scale: 120%;
            position: relative;
            right: -12vw;
            z-index: 999;
        }

        .text {
            transform: translateY(-7vw);
            text-align: left;
            font-size: 1.3vw;
            line-height: 200%;
            display: grid;
            place-content: center;
        }

        background-size: 32vw;

    }

    .about {
        height: 52vw;

        .abouttitle {
            font-size: 4vw;
        }

        .aboutsquare {
            width: 22vw;
        }

    }

    .skills {
        background-size: 28vw;
        position: relative;
        height: 45vw;

        .skillstitle {
            font-size: 4vw;
        }

        display: grid;
        grid-template-columns: 50% AUTO;

        .skills-container {
            .skillsgauge {
                font-size: 2vw;
            }

        }

        .hobbies-container {
            font-size: 2.5vw;
            width: 90vw;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            ul {
                columns: 4;
            }

            .hobbiessquare {
                transform: translateY(-2.7em);
            }
        }
    }

    .hero {

        .mobilehero {
            display: none;
        }

        .desktophero {
            display: initial;
        }

        .content {
            text-align: left;
            padding-left: 2em;
            font-size: 2.5vw;
            position: absolute;

            .meet {
                font-size: 2vw;
                line-height: 0%;
            }
        }

        .herosquare {
            display: initial;
            position: absolute;
            max-width: 50vw;
            right: 4em;
            top: 20vh;
            position: absolute;
            animation-name: herofloat;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        @keyframes herofloat {
            0% {
                transform: translateY(0em);
            }

            50% {
                transform: translateY(-2em);
            }

            100% {
                transform: translateY(0em);
            }
        }

    }

    .social-header {
        display: block;
        position: fixed;
        columns: 3;
        z-index: 9999;
        filter: invert(100%);
        scale: 60%;
        transform: translateY(1.85em);
        right: 1em;
    }

    .englishlogo {
        display: initial;
    }

}