@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
::-moz-selection {
  background: rgba(0, 195, 255, 0.432);
}
::selection {
  background: rgba(0, 195, 255, 0.432);
}

:root {
  --orange: #FFBDA2;
  --blue: #95CFD5;
}

.hidden {
  opacity: 0;
  transform: translateY(5%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/*::-webkit-scrollbar {
    display: none;
}*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.48em;
  overflow-x: hidden;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Poppins", arial;
  background-color: #191919;
  color: lightgray;
}

.grid,
.grid2 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 4em 2em;
}
.grid img,
.grid2 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
  transition: 0.5s;
}
.grid .portfolioboxtitle,
.grid2 .portfolioboxtitle {
  text-align: center;
  transform: translateY(-7em);
  font-weight: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  color: white;
}
.grid .experienceboxtitle,
.grid2 .experienceboxtitle {
  text-align: center;
  transform: translateY(-10em);
  font-weight: 1000;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  color: var(--orange);
}
.grid .experienceboxtext,
.grid2 .experienceboxtext {
  text-align: center;
  transform: translateY(-10em);
  font-weight: 500;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
  color: white;
}
.grid :hover img,
.grid2 :hover img {
  transform: scale(103%);
}
.grid .portfolioboxes,
.grid2 .portfolioboxes {
  line-height: 1em;
  overflow: hidden;
}
.grid :hover,
.grid2 :hover {
  box-shadow: 0px 0px 20px 0px var(--blue);
  transition: 0.5s;
}
.grid :hover .portfolioboxtitle,
.grid2 :hover .portfolioboxtitle {
  opacity: 1;
}
.grid :hover .experienceboxtext,
.grid2 :hover .experienceboxtext {
  opacity: 1;
}
.grid :hover .experienceboxtitle,
.grid2 :hover .experienceboxtitle {
  opacity: 1;
}
.grid img[data-src],
.grid2 img[data-src] {
  opacity: 0;
}

.grid > div {
  height: 250px;
  background: rgb(66, 66, 66);
  border-radius: 2em;
}
.grid > div :hover {
  filter: brightness(80%);
  transition: 0.5s;
}

.grid2 > div {
  height: 250px;
  background: rgb(66, 66, 66);
  border-radius: 2em;
}
.grid2 > div :hover {
  filter: brightness(20%);
  transition: 0.5s;
}

.experience {
  background-color: #141d25;
}

.transpire {
  display: none;
  position: absolute;
  left: 35vw;
  width: 60vw;
  transform: translateY(-8vw);
}

.centertitledesktop {
  text-align: center;
  transform: translateY(1.5em);
  color: var(--orange);
  opacity: 0;
  font-size: 4vw;
  font-weight: 500;
}

.centertitlemobile {
  text-align: center;
  transform: translateY(1em);
  color: var(--orange);
  font-size: 6vw;
  font-weight: 500;
  opacity: 0.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  z-index: 9999;
  position: fixed;
}
.nav-container a {
  color: rgb(255, 255, 255);
}
.nav-container .navwide {
  display: none;
}

.social-header {
  display: none;
}
.social-header a {
  display: block;
  padding: 0 1em;
}

.nav-bar {
  filter: brightness(80%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: auto;
  width: 100%;
  height: 5.5em;
  display: flex;
  justify-content: left;
  position: fixed;
  z-index: 9999;
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 16px;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  display: flex;
  justify-content: left;
  padding: 2em;
}
header .logo {
  color: white;
  font-weight: bold;
  padding: 0 1em;
  margin-right: 1em;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  background-image: url(/images/hero.webp);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero .desktophero {
  display: none;
}
.hero .herosquare {
  display: none;
}
.hero .content {
  color: white;
  display: grid;
  text-align: center;
  font-size: 25px;
  transform: translateY(30vh);
}
.hero .content .meet {
  line-height: 20%;
}

.about {
  background-image: url(/images/backgroundsvgs/heroblob.svg);
  background-size: cover;
}
.about .aboutsection {
  padding: 4em 2em;
}
.about .abouttitle {
  font-size: 60px;
  margin-left: 1.15em;
  transform: translateY(1.5em);
}
.about .text {
  text-align: center;
  padding: 4em 2em;
}
.about .aboutsquare {
  position: absolute;
  float: left;
  width: 325px;
}
.about .right {
  border-radius: 30px;
  margin-top: 2em;
}

.skills {
  padding: 4em 2em;
  color: #2E2E2E;
  background: rgb(149, 207, 213);
  background-image: url(/images/backgroundsvgs/square2.svg);
  background-position: 48px 45px;
  background-size: 400px;
  background-repeat: no-repeat;
}
.skills .skillstitle {
  font-size: 60px;
  line-height: 125%;
}
.skills .skills-container {
  font-weight: bold;
}
.skills .skills-container .skillsgauge {
  font-size: 4.5vw;
}
.skills .skills-container .skillsgauge svg {
  height: 100%;
  width: 100%;
}
.skills .hobbies-container {
  padding-top: 5em;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4.5vw;
}
.skills .hobbies-container ul {
  -moz-columns: 2;
       columns: 2;
}
.skills .hobbies-container .hobbiessquare {
  transform: translateY(-2.9em);
  pointer-events: none;
}

.portfolio {
  transform: translateY(60px);
}
.portfolio .portfoliotitle {
  font-size: 60px;
  margin-left: 1.15em;
  transform: translateY(1.2em);
}
.portfolio .fadedportfoliotitle {
  font-size: 60px;
  color: var(--orange);
  opacity: 50%;
  margin-left: 1.3em;
}
.portfolio .portfoliobg {
  position: absolute;
  width: 320px;
}
.portfolio .portfolio-container {
  transform: translateY(-10vw);
  text-align: center;
  padding: 4em 2em;
}
.portfolio .portfoliotypingarea {
  display: none;
  position: absolute;
  transform: translateY(-19vw);
  left: 30vw;
  font-size: 2.5vw;
  opacity: 0.25;
  padding-right: 2em;
}
.portfolio .portfolio1image {
  border-radius: 2em;
  overflow: hidden;
}
.portfolio .portfolio2image {
  border-radius: 2em;
  overflow: hidden;
}
.portfolio .category {
  color: var(--orange);
  line-height: 50%;
  font-size: 4.5vw;
}
.portfolio .portfolioname {
  font-size: 7vw;
  line-height: 120%;
}
.portfolio .subtitle {
  padding-bottom: 1em;
}

@media only screen and (min-width: 800px) {
  .nav-container .navwide {
    display: initial;
  }
  .about .left {
    text-align: left;
  }
  .portfolio {
    background-size: 22vw;
  }
  .portfolio .portfoliotitle {
    font-size: 4vw;
  }
  .portfolio .fadedportfoliotitle {
    font-size: 4vw;
  }
  .portfolio .portfoliotypingarea {
    display: initial;
  }
  .grid,
  .grid2 {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .grid .portfolioboxtitle,
  .grid2 .portfolioboxtitle {
    transform: translateY(-7.5em);
    font-size: 2em;
    font-weight: 600;
  }
  .grid .experienceboxtitle,
  .grid2 .experienceboxtitle {
    transform: translateY(-10.5em);
    font-size: 2em;
    font-weight: 600;
  }
  .grid .experienceboxtext,
  .grid2 .experienceboxtext {
    transform: translateY(-9.5em);
    font-size: 2em;
    font-weight: 500;
  }
  .grid > div {
    height: 350px;
    background: rgb(66, 66, 66);
    border-radius: 2em;
  }
  .grid2 > div {
    height: 350px;
    background: rgb(66, 66, 66);
    border-radius: 2em;
  }
  .transpire {
    display: initial;
  }
  .centertitledesktop {
    opacity: 0.5;
  }
  .centertitlemobile {
    display: none;
  }
  .portfolio .portfolio-container {
    padding: 4em 4em;
    text-align: left;
    transform: translateY(-5em);
    align-items: left;
    justify-content: left;
    width: 100%;
    display: grid;
    grid-template-columns: 40% auto;
  }
  .portfolio .portfolio-container .category {
    font-size: 2vw;
    line-height: 40%;
  }
  .portfolio .portfolio-container .portfolioname {
    font-size: 3vw;
    line-height: 120%;
  }
  .portfolio .portfolio-container .subtitle {
    font-size: 1.3vw;
  }
  .portfolio .portfolio-container .portfolio1image {
    display: grid;
    place-content: center;
    right: -10vw;
    position: relative;
  }
  .portfolio .portfolio-container .portfolio2image {
    display: grid;
    place-content: center;
    right: -10vw;
    position: relative;
  }
  .portfolio .portfoliobg {
    width: 22vw;
  }
  .about .aboutsection {
    padding: 4em 4em;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 50% auto;
    background-size: 32vw;
  }
  .about .aboutsection .right {
    display: grid;
    place-content: center;
    transform: translateY(-5em);
    scale: 120%;
    position: relative;
    right: -12vw;
    z-index: 999;
  }
  .about .aboutsection .text {
    transform: translateY(-5vw);
    text-align: left;
    font-size: 1.3vw;
    line-height: 200%;
    display: grid;
    place-content: center;
  }
  .about {
    height: 52vw;
  }
  .about .abouttitle {
    font-size: 4vw;
  }
  .about .aboutsquare {
    width: 22vw;
  }
  .skills {
    background-size: 28vw;
    position: relative;
    height: 45vw;
    display: grid;
    grid-template-columns: 50% AUTO;
  }
  .skills .skillstitle {
    font-size: 4vw;
  }
  .skills .skills-container .skillsgauge {
    font-size: 2vw;
  }
  .skills .hobbies-container {
    font-size: 2.5vw;
    width: 90vw;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skills .hobbies-container ul {
    -moz-columns: 4;
         columns: 4;
  }
  .skills .hobbies-container .hobbiessquare {
    transform: translateY(-2.7em);
  }
  .hero .mobilehero {
    display: none;
  }
  .hero .desktophero {
    display: initial;
  }
  .hero .content {
    text-align: left;
    padding-left: 2em;
    font-size: 2.5vw;
    position: absolute;
  }
  .hero .content .meet {
    font-size: 2vw;
    line-height: 0%;
  }
  .hero .herosquare {
    display: initial;
    position: absolute;
    max-width: 50vw;
    right: 4em;
    top: 20vh;
    position: absolute;
    animation-name: herofloat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes herofloat {
    0% {
      transform: translateY(0em);
    }
    50% {
      transform: translateY(-2em);
    }
    100% {
      transform: translateY(0em);
    }
  }
  .social-header {
    display: block;
    position: fixed;
    -moz-columns: 3;
         columns: 3;
    z-index: 9999;
    filter: invert(100%);
    scale: 60%;
    transform: translateY(1.85em);
    right: 1em;
  }
}/*# sourceMappingURL=main.css.map */